<div class="new-block type-20 color-background scroll-to-block" data-id="about">
    <div class="container">
        <div class="screens-preview-box">
            <div class="im">
                <img src="img/content/Home-5/screens-preview-1.jpg" alt=""/>
                <div class="left">
                    <div class="im">
                        <img src="img/content/Home-5/screens-preview-2.jpg" alt=""/>
                    </div>
                    <div class="im">
                        <img src="img/content/Home-5/screens-preview-3.jpg" alt=""/>
                    </div>
                    <div class="im">
                        <img src="img/content/Home-5/screens-preview-4.jpg" alt=""/>
                    </div>
                    <div class="im">
                        <img src="img/content/Home-5/screens-preview-5.jpg" alt=""/>
                    </div>
                </div>
                <div class="right">
                    <div class="im">
                        <img src="img/content/Home-5/screens-preview-6.jpg" alt=""/>
                    </div>
                    <div class="im">
                        <img src="img/content/Home-5/screens-preview-7.jpg" alt=""/>
                    </div>
                    <div class="im">
                        <img src="img/content/Home-5/screens-preview-8.jpg" alt=""/>
                    </div>
                    <div class="im">
                        <img src="img/content/Home-5/screens-preview-9.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="screens-preview-margin"></div>

        <div class="row page-tagline">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="title">what you get</h2>
                <div class="description"><p>Tonsequat in erat ut, congue bibendum nulla. Suspendisse
                    id pharetra lacus, et hendrerit mi. Praesent at vestibulum tortor. Praesent
                    condimentum efficitur massa pharetra dolor sed.</p></div>
            </div>
        </div>

        <div class="row counters-box">
            <div class="col-md-4 counter-entry">
                <i class="fa fa-bar-chart"></i>
                <span class="counter">1753</span>
                <div class="description"><p>Etiam neque tortor, bibendum id maximus vitae, tincidunt
                    id libero. Morbi ac leo vitae sapien rutrum sempe.</p></div>
            </div>
            <div class="col-md-4 counter-entry">
                <i class="fa fa-cog"></i>
                <span class="counter">10,500,77</span>
                <div class="description"><p>Etiam neque tortor, bibendum id maximus vitae, tincidunt
                    id libero. Morbi ac leo vitae sapien rutrum sempe.</p></div>
            </div>
            <div class="col-md-4 counter-entry">
                <i class="fa fa-users"></i>
                <span class="counter">987.30</span>
                <div class="description"><p>Etiam neque tortor, bibendum id maximus vitae, tincidunt
                    id libero. Morbi ac leo vitae sapien rutrum sempe.</p></div>
            </div>

        </div>
    </div>

</div>
