<div class="block type-1 scroll-to-block" data-id="home">
    <div class="clip">
        <div class="bg" style="background-image:url(img/content/Home-5/home-5-banner.jpg);">
        </div>
        <div class="bg-span"></div>
    </div>
    <div class="container type-1-text">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 type-1-center">
                <article class="big white table">
                    <div class="bottom-screens-align">
                        <h1 class="h1">make your life simplier</h1>
                        <p>Praesent iaculis ligula eu nulla porttitor, eget imperdiet odio pulvinar.
                            Donec massa arcu fermentum ac urna.</p>
                        <a href="#" class="button"><span>take a tour of lorem ipsum!</span></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>