<div class="block type-1 scroll-to-block" data-id="home">
    <div class="clip">
        <div class="bg" style="background-image:url(image/epic-render.png);">
        </div>
        <div class="bg-span light"></div>
    </div>
    <div class="container type-1-text">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 type-1-center">
                <article class="big white table">
                    <div class="bottom-screens-align">
                        <h1 class="h1">voxelgameslib</h1>
                        <p>Multi-platform, fully-featured, data-driven, abstract and expendable
                            minecraft minigames framework</p>
                        <p>Starting a minigames server was never that easy before!</p>
                        <a href="#about" class="button"><span>create your own minigames server today!</span></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>