<div class="block type-7 scroll-to-block" data-id="contact">
    <div class="container">
        <div class="row page-tagline">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="title">get in touch</h2>
                <div class="description">Praesent at vestibulum tortor. Praesent condimentum
                    efficitur massa, nec congue sem dapibus sed. Sed eget justo at erat suscipit
                    tristique sit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="contact-thumbs">
                    <img src="img/theme-1/icon7.png" alt=""/>
                    <article class="normall">
                        <p>
                            Tel:
                            <br>
                            <a href="tel:43477596204">+4 347.759.6204</a>
                        </p>
                    </article>
                </div>
                <div class="contact-thumbs">
                    <img src="img/theme-1/icon8.png" alt=""/>
                    <article class="normall">
                        <p>
                            Email:
                            <br>
                            <a href="maito:marketing@inspire.com">marketing@inspire.com</a>
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <form class="contact-form" method="post">
                    <input class="required" type="text" placeholder="Your name" value=""
                           name="name"/>
                    <input class="required" type="text" placeholder="Your email" value=""
                           name="email"/>
                    <input type="text" placeholder="Subject" value="" name="subject"/>
                    <select name="department">
                        <option>Department</option>
                        <option>Department1</option>
                        <option>Department2</option>
                        <option>Department3</option>
                    </select>
                    <textarea class="required" placeholder="Your message" name="text"></textarea>
                    <div class="submit-wraper">
                        <div class="button">submit message<input type="submit" value=""/></div>
                    </div>
                    <input type="hidden" name="mailto" value="marketingsomemailaddress@inspire.com"
                           style="display: none;"/>
                </form>
            </div>
            <div class="form-popup">
                <div class="form-popup-close-layer"></div>
                <div class="form-popup-content">
                    <div class="text">Lorem Ipsum Dollor Sit Ammet consectetur dim Elit</div>
                </div>
            </div>
        </div>
    </div>
</div>