</div>
</div>

{{#if themeChooser}}
    <div class="theme-config">
        <div class="title">Select Color:</div>
        <div class="colours-wrapper">
            <div data-theme="theme-1" style="color: #fbc011;" class="entry active"></div>
            <div data-theme="theme-2" style="color: #00bbd2;" class="entry"></div>
            <div data-theme="theme-3" style="color: #4caf50;" class="entry"></div>
            <div data-theme="theme-4" style="color: #ba68c8;" class="entry"></div>
            <div data-theme="theme-5" style="color: #d80d0d;" class="entry"></div>
            <div data-theme="theme-6" style="color: #0045ad;" class="entry"></div>
            <div data-theme="theme-7" style="color: #dd137b;" class="entry"></div>
            <div data-theme="theme-8" style="color: #482d1d;" class="entry"></div>
        </div>
        <div class="open">
            <img src="img/gear-icon.png" alt="">
            <img src="img/gear-icon.png" alt="">
            <img src="img/gear-icon.png" alt="">
        </div>
    </div>
{{/if}}

<!--<div class="screen-preview-popup">-->
<!--<div class="overflow">-->
<!--<img src="img/transparent.png" alt=""/>-->
<!--</div>-->
<!--<div class="close-popup"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
<!--</div>-->
<!--</div>-->


<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/idangerous.swiper.min.js"></script>
<script src="js/global.js"></script>

<script src="js/subscription.js"></script>

<!-- counter animation -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script>
    $(window).load(function () {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>

<script src="js/wow.min.js"></script>
<script>
    var wow = new WOW(
            {
                boxClass: 'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset: 100,          // distance to the element when triggering the animation (default is 0)
                mobile: true,       // trigger animations on mobile devices (default is true)
                live: true,       // act on asynchronously loaded content (default is true)
                callback: function (box) {
                    // the callback is fired every time an animation is started
                    // the argument that is passed in is the DOM node being animated
                }
            }
    );
    $(window).load(function () {
        wow.init();
    });

</script>


<!-- portfolio with filtering -->
<script src="js/isotope.pkgd.min.js"></script>
<script>
    $(function () {
        $(window).load(function () {
            var $container_filter = $('.filter-container').isotope({
                itemSelector: '.filter-item',
                masonry: {
                    columnWidth: '.filtergrid-sizer'
                }
            });

            $('.filter-button').on('click', function () {
                var filterValue = $(this).attr('data-filter');
                $container_filter.isotope({filter: filterValue});
                $(this).parent().find('.active').removeClass('active');
                $(this).addClass('active');
            });
        });
    });
</script>

</body>
</html>
