{{# partial "page"}}
    <div class="row center-xs middle-xs error-row">
        <div class="col-xs-6">
            <h1>{{error-title}}</h1>
            <p>{{error-description}}<p>
            <p>{{stacktrace}}</p>
        </div>
    </div>
{{/partial}}

{{# partial "title"}}
    {{error-title}} | VoxelGamesLib
{{/partial}}

{{>base.hbs}}