{{# partial "page"}}
    <div class="new-block type-10 scroll-to-block" data-id="team">
        <div class="container">
            <div class="row page-tagline">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="title">{{error-title}}</h2>
                    <div class="description">{{error-description}}</div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{# partial "title"}}
    {{error-title}}
{{/partial}}

{{>base.hbs}}