<div class="row center-xs footer">
    <div class="col-xs">
        <div class="row center-xs contact">
            <div class="col-xs">
                Contact, useful links, stuff like that
            </div>
        </div>
        <div class="row center-xs copyright">
            <div class="col-xs">
                &copy; 2015-
                <script>document.write(new Date().getFullYear())</script>
                All rights reserved. MiniDigger
            </div>
        </div>
    </div>
</div>
</div><!-- /page container -->
<!--<footer>
	<h1>STICKY FOOTER</h1>
</footer>-->

<!-- le JS -->
<script src="js/jquery-3.1.1.js"></script>
<script src="js/jquery.inview.js"></script>
<script src="js/main.js"></script>
<script src="js/counter.js"></script>
<script src="js/slides.js"></script>
<script src="js/accordeon.js"></script>