{{# partial "page"}}
    <div class="row center-xs" id="gamemode-box-title">
        <div class="col-xs-6">
            <h1>GameModes</h1>
            <p>VoxelGamesLib ships with many GameModes, that you can easily setup and use<br>
                The full list is available below. You can click on each mode to get to the
                documentation
                of that mode to see what you need to do to make it playable.
            <p>
        </div>
    </div>

    <div class="row center-xs gamemode-box-row">
        <div class="col-xs-2">
            <div class="box" style="background-image: url(http://placehold.it/200x400)">
                TEST
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box" style="background-image: url(http://placehold.it/200x400)">
                TEST
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box" style="background-image: url(http://placehold.it/200x400)">
                TEST
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box" style="background-image: url(http://placehold.it/200x400)">
                TEST
            </div>
        </div>
    </div>

    <div class="row center-xs gamemode-box-row">
        <div class="col-xs-2">
            <div class="box" style="background-image: url(http://placehold.it/200x400)">
                TEST
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box" style="background-image: url(http://placehold.it/200x400)">
                TEST
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box" style="background-image: url(http://placehold.it/200x400)">
                TEST
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box" style="background-image: url(http://placehold.it/200x400)">
                TEST
            </div>
        </div>
    </div>
{{/partial}}

{{# partial "title"}}
    Gamemodes | VoxelGamesLib
{{/partial}}

{{>base.hbs}}