<!-- nav -->
<header>
    <div class="row top-xs transperent smooth nav-row disabled">
        <div class="col-xs-9">
            <div class="box">VoxelGamesLib</div>
        </div>
        <div class="col-xs">
            <div class="box"><a class="smooth" href="/">Home</a></div>
        </div>
        <div class="col-xs">
            <div class="box dropdown">
                <a class="smooth" href="/gamemodes">GameModes</a>
                <div class="dropdown-entry">
                    <a href="#1">TEST</a>
                    <a href="#2">TEST</a>
                    <a href="#3">TEST</a>
                </div>
            </div>
        </div>
        <div class="col-xs">
            <div class="box">
                <a class="smooth" href="/features">Features</a>
            </div>
        </div>
    </div>
</header>
<!-- /nav -->

<div id="page-container">