{{#block "header-class"}}
    <header class="act default-act">{{/block}}
    <a href="index.html" id="logo">
        <img src="img/theme-1/logo.png" alt=""/>
        <img class="act" src="img/theme-1/logo-act.png" alt=""/>
    </a>
    <div class="mob-icon">
        <span></span>
    </div>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/features">features</a></li>
            <li><a href="/gamemodes">gamemodes</a></li>
        </ul>
    </nav>
</header>

<div id="loader-wrapper">
    <img src="img/theme-1/logo.png" alt=""/>
    <span></span>
</div>


<div id="content-wrapper">
    <div class="blocks-container">