<html>
<head>
    <title>{{#block "title"}}VoxelGamesLib{{/block}}</title>
    <link rel="stylesheet" href="/css/flexboxgrid.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pagelayout.css">
    <link rel="stylesheet" href="/css/gamemodes.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>